<% @recipe["recipes"].each do |obj| %>
  <h3><%= obj["title"] %></h3><br>
  <form action='/details'>
      <button type="submit" title="link to ingredients" name='details' value="<%=obj["recipe_id"]%>"><img class="img" src="<%=obj["image_url"]%>" ></button><br><br>
  </form><br>
<% end %><br><br>
