<h2>Ingredients for <%= @details["recipe"]["title"] %>:</h2><br><br>
<% @details["recipe"].each do |obj, value| %>
  <% if obj === "ingredients" %>
    <ul>
      <% value.each do |ingredient| %>
      <div class = "recipe">
        <li><%=ingredient%></li><br>
        <% end %>
      </div>
    </ul>
  <% end %>
<% end %>
