<div class="navbar">
  <div class="dropdown">
    <button class="dropbtn">Nav
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <%if current_user%>
        <a href="/">Home</a>
        <a href="/logout">Logout</a>
        <a href="/favorites">Favorites</a>
      <%else%>
        <a href="/signup">Signup</a>
        <a href="/login">Login</a>
        <a href="/">Search</a>
      <%end%>
    </div>
  </div>
</div>
